.character-list {
    max-height: 80vh;
    overflow: auto;
    max-width: 400px;

    li {
        border: 1px solid;
        margin: 8px;
        min-height: 110px;
    }
}

.house-color-block {
    display: inline-block;
    margin-right: 8px;
    width: 1.3em;
    height: 1.3em;
}
